*{
    padding: 5px;
    font-family: 'SamsungOne',arial,sans-serif;
}
body{
    width: 100%;
    overflow-x: hidden;
}
nav{
    background-color: white;
}
hr{
    height: 2px;
}
.logo{
    width: 150px;
}
.bi{
    font-size: 2rem;
}
.buyNowBtn{
    color: white;
    background-color: blue;
    border: 0px;
    padding-top:17px;
    padding-bottom: 17px;
    padding-left: 40px;
    padding-right: 40px;
}
.centerImg{
    align-items: center;
    width: 100vw;
    padding: 10%;
}
.roundBtn{
    border-radius: 21px;
    border-width: unset;
    margin: auto;
    display: block;
    padding-left: 25px;
    padding-right: 25px;
}
.center{
    display: block;
    margin: auto;
}



